.home{
  margin-top: 10px;
}
.toolbar-title{
  text-align: center;
}
.tabs-md .tab-button-icon{
  color: #fff;
}
.temp{
  font-size: 50px;
  text-align: center;
  font-weight: normal;
}
.desc{
  font-size: 40px;
  text-align: center;
  text-transform: capitalize;
}
.desc2{
  text-align: center;
  text-transform: capitalize;
}

.location{
  text-align: center;
  font-size: 50px;
}
.icon{
  text-align: center;
}
